<h2>Reactive Basics</h2>
<hr>

<div class="row w-50">
	<div class="col">
		<form [formGroup]="myForm" autocomplete="off">
			
			<div class="form-group mb-2">
				<label> Product </label>
				<input 	type="text" 
						class="form-control"
						formControlName="product"
						placeholder="product name">

				<span class="form-text text-danger"
					  *ngIf="controlIsInvalid('product')"> 
					Product name must have 4 words minimum. 
				</span>
			</div>

			<div class="form-group mb-2">
				<label> Price </label>
				<input 	type="number" 
						class="form-control"
						formControlName="price"
						placeholder="product price">

				<span class="form-text text-danger"
					  *ngIf="controlIsInvalid('price')"> 
					The price must be greater or equal than 0. 
				</span>
			</div>

			<div class="form-group mb-2">
				<label> Stock </label>
				<input 	type="number" 
						class="form-control"
						formControlName="stock"
						placeholder="stock">

				<span class="form-text text-danger"
					  *ngIf="controlIsInvalid('stock')"> 
					The stock must be greater or equal than 0. 
				</span>
			</div>

			<button type="submit" 
					class="btn btn-primary mt-3"
					[disabled]="myForm.invalid"> 
					Save 
			</button>

		</form>
	</div>
</div>

<div class="row">
	<div class="col">
		<span>valid</span>
		<pre> {{ myForm.valid }} </pre>
	</div>

	<div class="col">
		<span>pristine</span>
		<pre> {{ myForm.pristine }} </pre>
	</div>

	<div class="col">
		<span>touched</span>
		<pre> {{ myForm.touched }} </pre>
	</div>

	<div class="col">
		<span>value</span>
		<pre> {{ myForm.value | json }} </pre>
	</div>

	<div class="col">
		<span>value</span>
		<pre> {{ myForm.controls.product.errors | json }} </pre>
	</div>
	<div class="col">
		<span>value</span>
		<pre> {{ myForm.controls.price.errors | json }} </pre>
	</div>
	<div class="col">
		<span>value</span>
		<pre> {{ myForm.controls.stock.errors | json }} </pre>
	</div>
</div>